<!DOCTYPE html>
@using Microsoft.AspNetCore.Http;
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CirculaireICTKeten</title>
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/NavbarStyle.css" />
    <script src="https://use.fontawesome.com/31b66e833c.js"></script>
    @RenderSection("Styles", false)
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a>Welkom, @Context.Session.GetString("ProfileName")</a>
    </div>

    <div id="mySidenav" class="sidenav">
        <img class="logo" alt="RuilWinkel Vaals logo" src="~/images/LoginBackgroundImage.png" />
        <a href="/Home/Index"><i class="fa fa-fw fa-home"></i> Adminpanel</a>
        <a asp-controller="Articles" asp-action="Index"><i class="fa fa-book"></i> Artikelen catalogus</a>
        <a href="/ProfileDatums/Index"><i class="fa fa-bar-chart"></i> Overzichten</a>
        <a asp-controller="Transaction" asp-action="Index"><i class="fa fa-book"></i> Inname/Uitgifte</a>
        <a href="#contact"><i class="fa fa-commenting"></i> Klachten</a>
        <a href="/Home/LogOut"><i class="fa fa-sign-out"></i> Uitloggen</a>
    </div>

    <div id="main" class="main">
        <div class="container" onclick="changeNav(), myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <div class="mainBox body-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - CirculaireICTKeten - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function myFunction(x) {
            x.classList.toggle("change");
        }
        var lengte = "0px";
        function changeNav() {
            if (lengte == "250px") {
                lengte = "0px";
            } else {
                lengte = "250px";
            }
            document.getElementById("mySidenav").style.width = lengte;
            document.getElementById("main").style.marginLeft = lengte;
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>