@model CirculaireICTKeten.Models.ProfileDataModel

<form method="post">
    <input asp-for="Id" hidden/>
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Edit Profiel</h2>
        </div>
        <div class="row"style="flex-wrap: nowrap;justify-content: center;">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Id"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Straat"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Straat" class="form-control" />
                        <span asp-validation-for="Straat" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Huisnummer"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Huisnummer" class="form-control" />
                        <span asp-validation-for="Huisnummer" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Postcode"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Postcode" class="form-control" />
                        <span asp-validation-for="Postcode" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Woonplaats"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Woonplaats" class="form-control" />
                        <span asp-validation-for="Woonplaats" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Ledenpas"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Ledenpas" class="form-control" />
                        <span asp-validation-for="Ledenpas" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="AccountType"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="AccountType" class="form-control" />
                        <span asp-validation-for="AccountType" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Voornaam"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Voornaam" class="form-control" />
                        <span asp-validation-for="Voornaam" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Achternaam"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Achternaam" class="form-control" />
                        <span asp-validation-for="Achternaam" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Balans"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Balans" class="form-control" />
                        <span asp-validation-for="Balans" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="DateCreated"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="DateCreated" class="form-control" />
                        <span asp-validation-for="DateCreated" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Geboortedatum"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Geboortedatum" class="form-control" />
                        <span asp-validation-for="Geboortedatum" class="text-danger"></span>
                    </div>

                </div>
            </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Update" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>

@*Client side validation*@
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

